<form method="post" enctype="multipart/form-data">

  <div class="mb-3">
    <label for="file" class="form-label">Fichero PKCS#12:</label>
    <input class="form-control" type="file" name="file" id="formFile" accept=".p12" required>
  </div>

  <label for="password" class="form-label">Contraseña</label>
  <input type="password" id="password" name="password" class="form-control" aria-describedby="passwordHelpBlock" required>

  <br>

  <button type="submit" class="btn btn-primary">Submit Query</button>
</form>